---
---

@import "minimal-mistakes";

.page {
    width: 100%;
}

/* 导航栏样式：缩减字体 */
.visible-links {
    font-size: 0.8em;
}

/* 导航栏按钮样式：让底部的下划线动画间距略增加一点 */
.visible-links .masthead__menu-item a {
    padding-bottom: 5px;
}

/* 自定义样式 - 缩小博客正文字体 */
.page__content {
    font-size: 0.8em;
    line-height: 1.5;
}

/* 隐藏页面大标题 */
#page-title {
    display: none !important;
}

.archive {
    width: calc(100%);
}

.toc__menu {
    font-size: 0.9em;
    line-height: 1.5;
}

/* 隐藏 logo 旁边的站点标题文字 */
.masthead__menu.site-title {
    display: none !important;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
}